
<script>

let num = document.querySelector("#num");
let chat = document.querySelector("#chat");

let input = document.querySelector("#message-input");
let inputfile = document.querySelector("#file-input");

let btnmsg = document.querySelector("#msg-submit");
let btnfile = document.querySelector("#file-submit");

const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
const websocket_str = `${ws_scheme}://${window.location.host}/ws/chat/{{ uustr }}`;

// ..
const webSocket = new WebSocket(websocket_str);
// ..
webSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    const { username } = data;
    console.log("username", typeof username);

    const receive_user = "{{request.user}}";
    console.log("receive_user", receive_user);
    console.log("username", username);

    const ordinary_user = "{{ordinary}}";
    console.log("ordinary_user", ordinary_user);

    const { message } = data;
    const { file } = data;
    console.log("message", typeof message);

    if (typeof message === "number") {
        num.innerHTML += "<div>" + "<span>" + "in the chat: " + data.message + "</span>" + "<span>" + ", username: " + data.username + "</span>" + ", time: " + "<time>" + data.created_at + "</time>" + "</div>";
    } else {

    if (receive_user != "AnonymousUser") {
        if (receive_user === username) {
            if (data.file) {
            chat.innerHTML += "<figure>" + "<img src=" + "data:image/png;base64,"+ data.file + " width='240'/></figure>" + "<ul class='list-group mb-2'>" + "<li>" + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";}
        } else {
            if (data.file) {
            chat.innerHTML += "<figure>" + "<img src=" + "data:image/png;base64,"+ data.file + " width='240'/></figure>" + "<ul class='list-group bg-light mb-2'>" + "<li>" + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group bg-light mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";}
        }
    
    } else {
        if (ordinary_user === username) {
            if (data.file) {
            chat.innerHTML += "<figure>" + "<img src=" + "data:image/png;base64,"+ data.file + " width='240'/></figure>" + "<ul class='list-group mb-2'>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";}
        } else {
            if (data.file) {
            chat.innerHTML += "<figure>" + "<img src=" + "data:image/png;base64,"+ data.file + " width='240'/></figure>" + "<ul class='list-group bg-light mb-2'>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group bg-light mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";}
        }
    }
    }
};


btnmsg.addEventListener("click", (event) => {
    message = input.value;
    webSocket.send(
        JSON.stringify({
            message: message,
        })
    );
    input.value = "";
});

btnfile.addEventListener("click", (event) => {
    let reader = new FileReader();
    let file = event.target.files[0];
    console.log(file); //I can see the file's info

    reader.onload = () => {
        var array = new Uint32Array(reader.result); // read the actual file contents
        console.log("_+_array:", array); // the array is empty!
        var binaryString = String.fromCharCode.apply(null, array);
        console.log("__binaryString:", binaryString);
        this.setState(
            {
                file: binaryString,
            },
            () => {
                console.log(this.state.file); //ergo file is set to an empty image
            }
        );
        webSocket.send(
            JSON.stringify({
                file: file,
            })
        );
    };

    reader.readAsArrayBuffer(file);

    inputfile.value = "";
});
