{% extends "base.html" %}
{% block title %} room {% endblock %}

{% block content %}

<h1 class="lead my-4">chat room</h1>

<form class="card my-4" method="POST">
    {% csrf_token %}
    <sub class="m-2">message</sub>
    <div class="card-body p-3">
        <input id="message-input" type="text" size="200" class="form-control my-4">
    </div>

    <div class="card-footer">
        <input id="msg-submit" type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
    </div>
    
</form>

<form id="sendimg" class="card" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <sub class="m-2">file</sub>
    <div class="card-body">
        <input id="file-input" type="file" class="form-control my-4">
    </div>

    <div class="card-footer">
        <input id="file-submit" type="button" value="send" class="btn btn-sm btn-outline-primary my-2">
    </div>
    
</form>


<div id="num" class="border mt-2 p-2"></div>
<div id="chat"></div>


<ul class="list-group list-group-flush flex-wrap">
{% if admin_list %}
{% for i in  admin_list %}
{% if i.file %}
<figure class="mt-3"><img src="{{ i.file }}" width='240'/></figure>
{% else %}
<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>
{% endif %}
{% endfor %}
{% endif %}

{% if pr_list %}
{% for i in  pr_list %}
{% if i.file %}
<figure class="mt-3"><img src="{{ i.file }}" width='240'/></figure>
{% else %}
<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>
{% endif %}
{% endfor %}
{% endif %}

{% if or_list %}
{% for i in  or_list %}
{% if i.file %}
<figure class="mt-3"><img src="{{ i.file }}" width='240'/></figure>
{% else %}
<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>
{% endif %}
{% endfor %}
{% endif %}
</ul>


{% endblock %}

{% block js_chat %}
    {% include "chat/img64_chat.html.html" %}
{% endblock %}