{% extends "base.html" %}
{% block title %} chat room {% endblock %}

{% block content %}


<form class="card my-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <sub class="m-2">message</sub>
    <div class="card-body border-bottom p-3">
        <input id="message-input" type="text" size="200" class="form-control my-4">
    </div>
    <div class="card-footer">
        <input id="btn-submit" type="button" value="Send" class="btn btn-sm btn-outline-primary my-2">
    </div>
</form>


<div id="num"></div>
<div id="chat"></div>


<ul class="list-group list-group-flush flex-wrap">
{% if admin_list %}
{% for i in  admin_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}

<ul class="list-group list-group-flush flex-wrap">
{% if pr_list %}
{% for i in  pr_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}

{% if or_list %}
{% for i in  or_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}
</ul>


{% endblock %}

{% block js_chat %}
    {% include "chat/js_chat.html" %}
{% endblock %}