{% extends "base.html" %}
{% block title %} chat room {% endblock %}

{% block content %}


<form class="card my-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <sub class="m-2">message</sub>
    <div class="card-body border-bottom p-3">
        <input id="message-input" type="text" size="200" class="form-control my-4">
    </div>
    <div class="card-footer">
        <input id="btn-submit" type="button" value="Send" class="btn btn-sm btn-outline-primary my-2">
    </div>
</form>


<div id="chat"></div>


<ul class="list-group list-group-flush flex-wrap">
{% if admin_list %}
{% for i in  admin_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}

<ul class="list-group list-group-flush flex-wrap">
{% if pr_list %}
{% for i in  pr_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}

{% if or_list %}
{% for i in  or_list %}

<li class="list-group-item"><sup>id</sup> {{ i.id }}</li>
<li class="list-group-item my-2">
    <span><sup class="d-block">nick</sup> ({{ i.nick }})</span>
    <span><sup class="d-block mt-4">remark</sup> ({{ i.remark }})</span>
    <span><sup class="d-block mt-4">created_at</sup> {{ i.created_at }}</span>
</li>

{% endfor %}
{% endif %}
</ul>


<script>

let chat = document.querySelector("#chat")
let input = document.querySelector("#message-input")
let btnSubmit = document.querySelector("#btn-submit")
 
const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
const websocket_str = `${ws_scheme}://${window.location.host}/ws/chat/{{ uustr }}`;

const webSocket = new WebSocket(websocket_str);
 
webSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    const { username } = data;
    const receive_user = '{{request.user}}';
    console.log("receive_user", receive_user)
    console.log("username", username)

    const ordinary_user = '{{ordinary}}';
    console.log("ordinary_user", ordinary_user)

    if (receive_user != "AnonymousUser") {
        if (receive_user === username) {
            chat.innerHTML += "<ul class='list-group mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group bg-light mb-2'>" + "<li>"  + data.message + "</li>" + "<li>" + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        }
    
    } else {
        if (ordinary_user === username) {
            chat.innerHTML += "<ul class='list-group mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        } else {
            chat.innerHTML += "<ul class='list-group bg-light mb-2'>" + "<li>" + data.message + "</li>" + "<li>" + " AnonymousUser " + data.username + "</li>" + "<li>" + data.created_at + "</li>" + "</ul>";
        }
    }

};
 
btnSubmit.addEventListener("click", () => {
    message = input.value;
    webSocket.send(JSON.stringify({
        "message": message,
    }));
    input.value = "";
})

</script>


{% endblock %}