{% extends "base.html" %}
{% block title %} all index user list {% endblock %}

{% block content %}

<h1 class="lead my-4">index user list</h1>
<span><sup>request-user</sup> | {{ request.user }}</span>
<hr>

<div class="card p-2">
<h2 class="lead my-4">privileged</h2>
<ul class="list-group list-group-horizontal">
    {% if privileged_list %}
    {% for i in  privileged_list %}
        <li class="list-group-item">{{ i.id }}</li>
        <li class="list-group-item">
            <span>{{ i.nickname }}</span>
            <span>{{ i.mail }}</span>
        </li>
    {% endfor %}
    {% endif %}

</ul>


<h2 class="lead my-4">ordinary</h2>
<ul class="list-group list-group-horizontal">
    {% if ordinary_list %}
    {% for i in  ordinary_list %}
        <li class="list-group-item">{{ i.id }}</li>
        <li class="list-group-item">
            <span>{{ i.nickname }}</span>
            <span>{{ i.mail }}</span>
        </li>
    {% endfor %}
    {% endif %}
</ul>

</div>


{% endblock %}