{% extends "base.html" %}
{% block title %} all index user list {% endblock %}

{% block content %}

<h1 class="lead my-4">index user list</h1>
<span><sup class="d-block">request-user</sup> {{ request.user }}</span>
<hr>

<div class="card p-2">
<h2 class="lead my-4">privileged</h2>

<ul class="list-group list-group-horizontal flex-wrap">

    {% if privileged_list %}
    {% for i in  privileged_list %}
        <li class="list-group-item my-2"><sup>id</sup> {{ i.id }}</li>
        <li class="list-group-item my-2">
            <span><sup class="d-block mt-2">username</sup> ({{ i.user_ptr.username }})</span>
            <hr>
            <span><sup class="d-block">nickname</sup> ({{ i.nickname }})</span>
            <hr>
            <span><sup class="d-block">mail</sup> {{ i.mail }}</span>
        </li>
    {% endfor %}
    {% endif %}

</ul>


<h2 class="lead my-4">ordinary</h2>

<ul class="list-group list-group-horizontal flex-wrap">
    {% if ordinary_list %}
    {% for i in  ordinary_list %}
        <li class="list-group-item my-2"><sup>id</sup> {{ i.id }}</li>
        <li class="list-group-item my-2">
            <span><sup class="d-block">nickname</sup> ({{ i.nickname }})</span>
            <hr>
            <span><sup class="d-block">mail</sup> {{ i.mail }}</span>
        </li>
    {% endfor %}
    {% endif %}
</ul>

</div>


{% endblock %}