{% extends "base.html" %}
{% block title %} index privileged {% endblock %}

{% block content %}

<h1 class="lead my-4">index privileged</h1>
<span><sup>request-user</sup> {{ request.user }}</span>
<hr>

<p>session {{ obj }}</p>

{% if privileged.mail %}
<span><sup class="d-block">privileged-active-user</sup> {{ privileged.mail }}</span>
{% endif %}
<hr>

{% if ordinary.mail %}
<span><sup class="d-block">ordinary-active-user</sup> {{ ordinary.mail }}</span>
{% endif %}
<hr>


<div class="card p-2">
<h2 class="lead my-4">privileged</h2>
<ul class="list-group list-group-horizontal flex-wrap">

    {% for i in  privileged_list %}
        <li class="list-group-item my-2">
            <span><sup class="d-block mt-2">id</sup> ({{ i.user_ptr.id }}),</span>
            <hr>
            <span><sup class="d-block">username</sup> ({{ i.user_ptr.username }})</span>
            <hr>
            <span><sup class="d-block">nickname</sup> ({{ i.nickname }}), </span>
            <hr>
            <span><sup class="d-block">mail</sup> {{ i.mail }}</span>
        </li>
    {% endfor %}

</ul>

<ul class="list-group list-group-horizontal flex-wrap">

    {% for i in  privileged_owning %}
        <li class="list-group-item my-2"><sup>id</sup> {{ i.id }}</li>
        <li class="list-group-item my-2">
            <span><sup class="d-block mt-2">nickname</sup> ({{ i.nickname }})</span>
            <hr>
            <a class="page-link" href="privileged/details/{{ i.id }}/">
                details {{ i.mail }}
            </a>
            <hr>
            <a class="page-link" href="privileged/update/{{ i.id }}/">
                update {{ i.mail }}
            </a>
            <hr>
            <a class="page-link" href="privileged/delete/{{ i.id }}/">
                delete {{ i.mail }}
            </a>

        </li>
    {% endfor %}

</ul>


<h2 class="lead my-4">ordinary</h2>
<ul class="list-group list-group-horizontal flex-wrap">

    {% for i in  ordinary_list %}
        <li class="list-group-item"><sup class="d-block">id</sup> {{ i.id }}</li>
        <li class="list-group-item">
            <span><sup class="d-block">nickname</sup> {{ i.nickname }}</span>
            <hr>
            <span><sup class="d-block">mail</sup> {{ i.mail }}</span>
        </li>
    {% endfor %}

</ul>

</div>


{% endblock %}